.main__second-section {
    background-image: url(../img/salons-background.svg);
    background-repeat: no-repeat;
    .main__second-container {
        padding-top: 100px;
        padding-bottom: 100px;
        .main__salons-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .main__salons-label {
                font-weight: 400;
                font-size: 21px;
                line-height: 29px;
                padding-bottom: 15px;
            }
            .main__salons-title {
                font-weight: 700;
                font-size: 30px;
                line-height: 40px;
                padding-bottom: 45px;
            }
            .main__salons-text {
                font-weight: 400;
                font-size: $button-text-size;
                line-height: 25px;
                text-align: center;
                max-width: 730px;
                padding-bottom: 60px;
            }
            .main__salons-button {
                background-color: $text-color;
                padding: 15px 35px 15px 35px;
                a {
                    color: $button-bg-color;
        	        font-weight: 500;
                    font-size: $button-text-size;
                    line-height: 21px;
                    letter-spacing: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}