.main__fourth-section {
    display: flex;
    justify-content: center;
    .main__fourth-container {
        max-width: 1110px;
        max-height: 745px;
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
        @media screen and (max-width: 1120px) {
            max-width: 910px;
            margin-bottom: 400px;
            margin-left: 20px;
        }
        @media screen and (max-width: 880px) {
            max-width: 710px;
            margin-bottom: 750px;
        }
        @media screen and (max-width: 650px) {
            max-width: 410px;
            margin-bottom: 1550px;
        }
        .main__social-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 60px;
            .main__social-tag {
                padding-bottom: 15px;
                a {
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 30px;
                    text-align: center;
                    color: $button-bg-color;
                    text-decoration: none;
                }
            }
            h2 {
                font-weight: 700;
                font-size: 30px;
                line-height: 41px;
                text-align: center;
                color: $button-bg-color;
            }
        }
        .main__social-gallery {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 1120px) {
                justify-content: center;
                margin-left: 23px;
            }
            .social__gallery-image {
                img {
                    cursor: pointer;
                    &:nth-child(1) {
                        @media screen and (max-width: 650px) {
                            width: 380px;
                        }
                    }
                }
            }
        }
    }
}